<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>PY-BOARD COMMUNITY</h1>
    <button onclick="window.location.href='/login'">로그인</button>
    <button onclick="window.location.href='/sign-up'">회원가입</button>
    <button onclick="window.location.href='/board'">커뮤니티 입장</button>

    <div>
        <form action="" method="POST">
            <button type="submit">로그아웃</button>
        </form>
    </div>
</body>
</html>